In [3]:
import os
import pandas as pd
import tweepy as tw
import time
import csv
import re 
import string
from tweepy import *

In [4]:
ashtagList = ['#love','#instagood','#photooftheday','#fashion','#beautiful','#happy','#cute','#tbt',
              '#like4like','#followme','#picoftheday','#follow','#me','#selfie','#summer','#art','#instadaily',
             '#friends','#repost','#nature','#girl','#fun','#style','#smile','#food','#instalike','#likeforlike',
             '#family','#travel','#fitness','#igers','#tagsforlikes','#follow4follow','#nofilter','#life','#beauty',
             '#amazing','#instamood','#instagram','#photography']

ashtagList2 = ['#medicaid','#ico','#ethereum','#aca','#crypto','#crowdfunding','#giveaway','#contest',
               '#blackhistorymonth','#womenshistorymonth','#cryptocurrency','#womensday','#happybirthday',
               '#authentication','#win','#medicare','#internationalwomensday','#influencermarketing',
               '#opioid','#healthinsurance','#qa','#funny','#womeninstem','#iwd2019','#photography','#mondaymotivation',
               '#ootd','#vegan','#traveltuesday','#tbt','#euro2020','#corona','#regionales2021']

In [5]:
df = pd.DataFrame({})
for tag in ashtagList:
    fn = tag + 'Npop.xlsx'
    tDF = df
    nDF = pd.read_excel(fn)
    frames = [tDF,nDF]
    df = pd.concat(frames, ignore_index=True)

for tag in ashtagList:
    fn = tag + '.xlsx'
    tDF = df
    nDF = pd.read_excel(fn)
    frames = [tDF,nDF]
    df = pd.concat(frames, ignore_index=True)
    
for tag in ashtagList2:
    fn = tag + 'Npop.xlsx'
    tDF = df
    nDF = pd.read_excel(fn)
    frames = [tDF,nDF]
    df = pd.concat(frames, ignore_index=True)

for tag in ashtagList2:
    fn = tag + '.xlsx'
    tDF = df
    nDF = pd.read_excel(fn)
    frames = [tDF,nDF]
    df = pd.concat(frames, ignore_index=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15110 entries, 0 to 15109
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   15110 non-null  int64
 1   id           15110 non-null  int64
 2   user name    15110 non-null  object
 3   text         15110 non-null  object
 4   time stamps  15110 non-null  datetime64[ns]
 5   retweets     15110 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 708.4+ KB

In [7]:
df

,Unnamed: 0,id,user name,text,time stamps,retweets
0,0,1408213326405018112,briceduncanart,P.O.V. series - Day 267\n\n#bnw #bnw_captures ...,2021-06-24 23:59:55,1
1,0,1408213280213147904,DivineSoul_,RT @GangWaveSquidda: My boy would've been 25 t...,2021-06-24 23:59:43,0
2,0,1408213265490924032,ElleStonewood,Had a great day at the zoo with my son Jack! H...,2021-06-24 23:59:40,1
3,0,1408213203859886080,edjlazar,RT @WillowAssist: Thanks @edjlazar for the Ret...,2021-06-24 23:59:25,0
4,0,1408213169860976896,Glams_Radio,#Now playing on @Glams_Radio : #Surrender (Ori...,2021-06-24 23:59:17,0
...,...,...,...,...,...,...
15105,0,1406823578176131072,rameshlaus,#India continues to report daily #Corona cases...,2021-06-21 03:57:33,17
15106,0,1407589145141075968,dna,Good news! #Pfizer gears up to supply 1 billio...,2021-06-23 06:39:38,20
15107,0,1407217032865660928,theage,Victoria‚Äôs police union has joined forced with...,2021-06-22 06:01:00,19
15108,0,1405549794240646912,jitupatwari,Respected @narendramodi Jee.\nForm a special t...,2021-06-17 15:35:59,20
15109,0,1405740772947676928,rameshlaus,#India \n\nNew #Corona cases in the last 24 hr...,2021-06-18 04:14:52,20

In [8]:
idList = df['id']
flag = len(set(idList)) == len(idList)
flag

False

In [9]:
tdf = df.sort_values(by=['id', 'retweets'])
tdf

,Unnamed: 0,id,user name,text,time stamps,retweets
7979,0,1405532443155653120,MyPowertalk,Fear no ONE.\nHate no ONE.\nJudge no ONE.\n\nS...,2021-06-17 14:27:02,15
15094,0,1405536952535769088,OnsOranje,"Last time vs üá¶üáπ\n\nMore of this tonight, @GWij...",2021-06-17 14:44:57,15
14760,0,1405537957763682048,RepTedLieu,Pleased #SCOTUS has rejected Republicans‚Äô late...,2021-06-17 14:48:57,18
15093,0,1405537974989639936,DBUfodbold,Jeres 1Ô∏è‚É£1Ô∏è‚É£ startere!\n\n##ForDanmark #EURO20...,2021-06-17 14:49:01,18
15088,0,1405539042440012032,BBCSport,"FT! Ukraine 2-1 North Macedonia.\n\nAll over, ...",2021-06-17 14:53:16,19
...,...,...,...,...,...,...
4200,0,1408213345333879040,JoanneFreyja,Fairytaledays with Freyja The Fairy #freyjafai...,2021-06-24 23:59:59,0
4800,0,1408213345572901120,StreamingSales1,BUILT BAR \n\nWorld best protein bar.\n\n#dess...,2021-06-24 23:59:59,1
5800,0,1408213345572901120,StreamingSales1,BUILT BAR \n\nWorld best protein bar.\n\n#dess...,2021-06-24 23:59:59,1
1400,0,1408213345983947008,TunesoundsMusic,Playing Now Armin van Buuren - Something Real ...,2021-06-24 23:59:59,0
13930,0,1408213345983947008,TunesoundsMusic,Playing Now Armin van Buuren - Something Real ...,2021-06-24 23:59:59,0

In [11]:
tdf = tdf.drop_duplicates(subset=['id'], keep='last')

In [12]:
tdf

,Unnamed: 0,id,user name,text,time stamps,retweets
7979,0,1405532443155653120,MyPowertalk,Fear no ONE.\nHate no ONE.\nJudge no ONE.\n\nS...,2021-06-17 14:27:02,15
15094,0,1405536952535769088,OnsOranje,"Last time vs üá¶üáπ\n\nMore of this tonight, @GWij...",2021-06-17 14:44:57,15
14760,0,1405537957763682048,RepTedLieu,Pleased #SCOTUS has rejected Republicans‚Äô late...,2021-06-17 14:48:57,18
15093,0,1405537974989639936,DBUfodbold,Jeres 1Ô∏è‚É£1Ô∏è‚É£ startere!\n\n##ForDanmark #EURO20...,2021-06-17 14:49:01,18
15088,0,1405539042440012032,BBCSport,"FT! Ukraine 2-1 North Macedonia.\n\nAll over, ...",2021-06-17 14:53:16,19
...,...,...,...,...,...,...
9520,0,1408213343119109888,agus_LucKyWin,RT @LionHeartCrypto: üí∞üí∑NEW PROMO PAGEüí∑üí∞\n\n‚òëÔ∏èF...,2021-06-24 23:59:58,0
10320,0,1408213345090507008,InfoblazeGlobal,Jack Dorsey said he would leave #Square and #T...,2021-06-24 23:59:59,0
4200,0,1408213345333879040,JoanneFreyja,Fairytaledays with Freyja The Fairy #freyjafai...,2021-06-24 23:59:59,0
5800,0,1408213345572901120,StreamingSales1,BUILT BAR \n\nWorld best protein bar.\n\n#dess...,2021-06-24 23:59:59,1
13930,0,1408213345983947008,TunesoundsMusic,Playing Now Armin van Buuren - Something Real ...,2021-06-24 23:59:59,0

In [13]:
idList = tdf['id']
flag = len(set(idList)) == len(idList)
flag

True

In [66]:
idList = idList.sort_values()
idList

7979    1405532443155653120
8089    1405539954223030016
8091    1405540745776271104
8090    1405544378706365952
8083    1405544692054437888
               ...
600     1408213342636888064
4200    1408213345333879040
5800    1408213345572901120
4800    1408213345572901120
1400    1408213345983947008
Name: id, Length: 8320, dtype: int64

In [98]:
newDF = df.copy()
for i in range(len(idList)-1):
    if(idList.iloc[i] == idList.iloc[i+1]):
        newDF = newDF.drop([idList.index[i]])
newDF

,Unnamed: 0,id,user name,text,time stamps,retweets
1,0,1408213280213147904,DivineSoul_,RT @GangWaveSquidda: My boy would've been 25 t...,2021-06-24 23:59:43,0
2,0,1408213265490924032,ElleStonewood,Had a great day at the zoo with my son Jack! H...,2021-06-24 23:59:40,1
3,0,1408213203859886080,edjlazar,RT @WillowAssist: Thanks @edjlazar for the Ret...,2021-06-24 23:59:25,0
4,0,1408213169860976896,Glams_Radio,#Now playing on @Glams_Radio : #Surrender (Ori...,2021-06-24 23:59:17,0
5,0,1408213108452101888,LeeHillerLondon,Forever Hearts Red on White Mug\n#romantic #mu...,2021-06-24 23:59:03,0
...,...,...,...,...,...,...
8314,0,1407912269275488000,shamasikander,Juuuust chillin....üòé\n.\n.\n.\n#love #newyork ...,2021-06-24 04:03:37,17
8315,0,1405868009940454912,bernabephoto,‚ÄúLithe Hunters‚Äù A cheetah trio on the Masai Ma...,2021-06-18 12:40:27,19
8316,0,1405776949335577088,Alex_Verbeek,üåé\n\nI wonder why foreign tourists always floc...,2021-06-18 06:38:37,19
8317,0,1406786268340523008,GrandCanyonNPS,Historic Kolb Studio has reopened in Grand Can...,2021-06-21 01:29:17,19
8319,0,1407608228926610944,hms_tamar,üëÄ closely! #photooftheday üì∏ @HMSPWLS just righ...,2021-06-23 07:55:28,20

In [95]:
reIdList

Series([], dtype: float64)

In [99]:
idList = newDF['id']
flag = len(set(idList)) == len(idList)
flag

True

In [100]:
newDF = newDF.reset_index()
newDF

,index,Unnamed: 0,id,user name,text,time stamps,retweets
0,1,0,1408213280213147904,DivineSoul_,RT @GangWaveSquidda: My boy would've been 25 t...,2021-06-24 23:59:43,0
1,2,0,1408213265490924032,ElleStonewood,Had a great day at the zoo with my son Jack! H...,2021-06-24 23:59:40,1
2,3,0,1408213203859886080,edjlazar,RT @WillowAssist: Thanks @edjlazar for the Ret...,2021-06-24 23:59:25,0
3,4,0,1408213169860976896,Glams_Radio,#Now playing on @Glams_Radio : #Surrender (Ori...,2021-06-24 23:59:17,0
4,5,0,1408213108452101888,LeeHillerLondon,Forever Hearts Red on White Mug\n#romantic #mu...,2021-06-24 23:59:03,0
...,...,...,...,...,...,...,...
7049,8314,0,1407912269275488000,shamasikander,Juuuust chillin....üòé\n.\n.\n.\n#love #newyork ...,2021-06-24 04:03:37,17
7050,8315,0,1405868009940454912,bernabephoto,‚ÄúLithe Hunters‚Äù A cheetah trio on the Masai Ma...,2021-06-18 12:40:27,19
7051,8316,0,1405776949335577088,Alex_Verbeek,üåé\n\nI wonder why foreign tourists always floc...,2021-06-18 06:38:37,19
7052,8317,0,1406786268340523008,GrandCanyonNPS,Historic Kolb Studio has reopened in Grand Can...,2021-06-21 01:29:17,19
7053,8319,0,1407608228926610944,hms_tamar,üëÄ closely! #photooftheday üì∏ @HMSPWLS just righ...,2021-06-23 07:55:28,20

In [102]:
newDF['retweets'].max()

20

In [14]:
tdf = tdf.drop(['Unnamed: 0'], axis=1)

In [16]:
tdf = tdf.sort_index()

In [17]:
tdf

,id,user name,text,time stamps,retweets
1,1408213280213147904,DivineSoul_,RT @GangWaveSquidda: My boy would've been 25 t...,2021-06-24 23:59:43,0
2,1408213265490924032,ElleStonewood,Had a great day at the zoo with my son Jack! H...,2021-06-24 23:59:40,1
3,1408213203859886080,edjlazar,RT @WillowAssist: Thanks @edjlazar for the Ret...,2021-06-24 23:59:25,0
4,1408213169860976896,Glams_Radio,#Now playing on @Glams_Radio : #Surrender (Ori...,2021-06-24 23:59:17,0
5,1408213108452101888,LeeHillerLondon,Forever Hearts Red on White Mug\n#romantic #mu...,2021-06-24 23:59:03,0
...,...,...,...,...,...
15105,1406823578176131072,rameshlaus,#India continues to report daily #Corona cases...,2021-06-21 03:57:33,17
15106,1407589145141075968,dna,Good news! #Pfizer gears up to supply 1 billio...,2021-06-23 06:39:38,20
15107,1407217032865660928,theage,Victoria‚Äôs police union has joined forced with...,2021-06-22 06:01:00,19
15108,1405549794240646912,jitupatwari,Respected @narendramodi Jee.\nForm a special t...,2021-06-17 15:35:59,20
15109,1405740772947676928,rameshlaus,#India \n\nNew #Corona cases in the last 24 hr...,2021-06-18 04:14:52,20

In [18]:
tdf.to_excel('AllTagsReady.xlsx')

In [19]:
tdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12968 entries, 1 to 15109
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           12968 non-null  int64
 1   user name    12968 non-null  object
 2   text         12968 non-null  object
 3   time stamps  12968 non-null  datetime64[ns]
 4   retweets     12968 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 607.9+ KB